<%- include('../includes/header'); %>

  <div class="container">
    <h2>
      Edit Post
    </h2>

    <form action="/posts/update/<%= posts.id %>" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" id="title" value="<%= posts.title %>">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <input type="text" name="content" class="form-control" id="content" value="<%= posts.content %>">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

  <%- include('../includes/footer'); %>